FORMAT: 1A
HOST: http://lahdenvuo.info/social

# nodepiespy
NodePieSpy API gives you a social network inferred from IRC logs.

# Group Graphs
Graphs related resources of the *NodePieSpy API*

## Graph Collection [/graph]
### List all Graphs [GET]
+ Response 200 (application/json; charset=utf-8)

        ["cb2","coolbasic","javascript.fi","node.js","kapsi.fi","assembly","minecraft"]

## Graph [/graph/{name}.json]
A single Graph object with all its details

+ Parameters
    + name (required, string, `minecraft`) ... The `name` of the Graph to perform action with.

### Retrieve a Graph [GET]
+ Response 200 (application/json; charset=utf-8)

    + Header

            X-Powered-By: Express

    + Body

            {"nodes":{"mir-tab":{"label":"mir-tab","weight":225},"jashoo":{"label":"jashoo","weight":46},"viltz":{"label":"viltz","weight":29},"ShaquaR":{"label":"ShaquaR","weight":157},"triks":{"label":"triks","weight":61},"tuhoojabotti":{"label":"tuhoojabotti","weight":163},"[D]emon":{"label":"[D]emon","weight":255},"Thudney":{"label":"Thudney","weight":300},"dem0":{"label":"dem0","weight":55},"Pilkki":{"label":"Pilkki","weight":15},"Atomim":{"label":"Atomim","weight":33},"Koopa":{"label":"Koopa","weight":1},"Wing":{"label":"Wing","weight":35},"sk":{"label":"sk","weight":1},"donut":{"label":"donut","weight":51},"coolman6Mine":{"label":"coolman6Mine","weight":15},"Depe":{"label":"Depe","weight":23},"Shinkai":{"label":"Shinkai","weight":1},"Latexi95":{"label":"Latexi95","weight":19},"esalaka":{"label":"esalaka","weight":1},"Rossi2303":{"label":"Rossi2303","weight":1},"Hedge":{"label":"Hedge","weight":5},"dalgor":{"label":"dalgor","weight":9},"quaezar":{"label":"quaezar","weight":11},"|\\_-`":{"label":"|\\_-`","weight":1},"heller":{"label":"heller","weight":43},"trzoda":{"label":"trzoda","weight":11},"minecraftpol":{"label":"minecraftpol","weight":11},"tier":{"label":"tier","weight":5},"poft":{"label":"poft","weight":1},"giga":{"label":"giga","weight":3},"druiDi":{"label":"druiDi","weight":1}},"edges":{"5775823":{"source":"Wing","target":"dem0","weight":2},"23428976":{"source":"minecraftpol","target":"trzoda","weight":1},"27076967":{"source":"jashoo","target":"[D]emon","weight":13},"67096331":{"source":"Atomim","target":"Pilkki","weight":2},"74911652":{"source":"quaezar","target":"ShaquaR","weight":4},"98847942":{"source":"donut","target":"dem0","weight":3},"112297084":{"source":"dem0","target":"coolman6Mine","weight":4},"113325182":{"source":"Wing","target":"triks","weight":1},"113708535":{"source":"dem0","target":"triks","weight":6},"113801615":{"source":"triks","target":"giga","weight":1},"219846443":{"source":"triks","target":"coolman6Mine","weight":2},"222839986":{"source":"viltz","target":"triks","weight":2},"312278337":{"source":"ShaquaR","target":"minecraftpol","weight":7},"329473271":{"source":"sk","target":"Thudney","weight":2},"331596021":{"source":"Depe","target":"Thudney","weight":3},"332165834":{"source":"Wing","target":"Thudney","weight":5},"332549187":{"source":"dem0","target":"Thudney","weight":13},"402150715":{"source":"Thudney","target":"Koopa","weight":1},"425237953":{"source":"donut","target":"Thudney","weight":13},"438687095":{"source":"coolman6Mine","target":"Thudney","weight":1},"440098546":{"source":"Thudney","target":"triks","weight":1},"441680638":{"source":"viltz","target":"Thudney","weight":6},"446819761":{"source":"|\\_-`","target":"Thudney","weight":1},"490340191":{"source":"mir-tab","target":"ShaquaR","weight":9},"618132604":{"source":"[D]emon","target":"ShaquaR","weight":2},"700080943":{"source":"Rossi2303","target":"Thudney","weight":1},"761651254":{"source":"quaezar","target":"triks","weight":7},"891948898":{"source":"minecraftpol","target":"tier","weight":4},"1069147081":{"source":"Wing","target":"mir-tab","weight":7},"1069530434":{"source":"dem0","target":"mir-tab","weight":3},"1177079793":{"source":"triks","target":"mir-tab","weight":14},"1178661885":{"source":"viltz","target":"mir-tab","weight":3},"1196939494":{"source":"[D]emon","target":"Wing","weight":1},"1197322847":{"source":"[D]emon","target":"dem0","weight":5},"1304872206":{"source":"triks","target":"[D]emon","weight":4},"1306454298":{"source":"[D]emon","target":"viltz","weight":5},"1395327510":{"source":"ShaquaR","target":"Atomim","weight":3},"1395920445":{"source":"mir-tab","target":"Thudney","weight":17},"1523712858":{"source":"Thudney","target":"[D]emon","weight":158},"1564854603":{"source":"[D]emon","target":"Rossi2303","weight":1},"1973564587":{"source":"Depe","target":"Atomim","weight":1},"1974134400":{"source":"Atomim","target":"Wing","weight":1},"1974517753":{"source":"Atomim","target":"dem0","weight":3},"2080655661":{"source":"Atomim","target":"coolman6Mine","weight":9},"2082067112":{"source":"Atomim","target":"triks","weight":5},"2260694105":{"source":"[D]emon","target":"mir-tab","weight":49},"2300907764":{"source":"Thudney","target":"Atomim","weight":9},"2622460472":{"source":"Atomim","target":"quaezar","weight":1},"-100715446":{"source":"mir-tab","target":"jashoo","weight":11},"-1054955253":{"source":"jashoo","target":"viltz","weight":3},"-1743276947":{"source":"ShaquaR","target":"jashoo","weight":2},"-465481708":{"source":"ShaquaR","target":"triks","weight":14},"-1056537345":{"source":"jashoo","target":"triks","weight":3},"-315769028":{"source":"tuhoojabotti","target":"mir-tab","weight":105},"-2549386166":{"source":"jashoo","target":"tuhoojabotti","weight":9},"-187976615":{"source":"[D]emon","target":"tuhoojabotti","weight":16},"-1958330529":{"source":"tuhoojabotti","target":"ShaquaR","weight":3},"-573031067":{"source":"ShaquaR","target":"dem0","weight":15},"-1270008835":{"source":"viltz","target":"tuhoojabotti","weight":7},"-837890988":{"source":"Pilkki","target":"mir-tab","weight":8},"-1052750275":{"source":"Thudney","target":"tuhoojabotti","weight":4},"-3286561708":{"source":"Pilkki","target":"tuhoojabotti","weight":1},"-1901262246":{"source":"dem0","target":"Pilkki","weight":1},"-2480452489":{"source":"ShaquaR","target":"Pilkki","weight":1},"-1831660718":{"source":"Koopa","target":"Pilkki","weight":1},"-246641056":{"source":"ShaquaR","target":"Thudney","weight":57},"-1165039870":{"source":"jashoo","target":"Depe","weight":1},"-837696693":{"source":"Thudney","target":"jashoo","weight":1},"-239351848":{"source":"Shinkai","target":"Thudney","weight":1},"-1947743540":{"source":"Latexi95","target":"Shinkai","weight":1},"-2761141967":{"source":"tuhoojabotti","target":"Latexi95","weight":1},"-1379523639":{"source":"Wing","target":"tuhoojabotti","weight":14},"-1376225858":{"source":"Latexi95","target":"Wing","weight":3},"-184678834":{"source":"[D]emon","target":"Latexi95","weight":2},"-2845082863":{"source":"esalaka","target":"Latexi95","weight":2},"-1283153739":{"source":"donut","target":"Latexi95","weight":6},"-1097564495":{"source":"Hedge","target":"jashoo","weight":1},"-1269548896":{"source":"dalgor","target":"Hedge","weight":1},"-2506316985":{"source":"jashoo","target":"dalgor","weight":1},"-1164470057":{"source":"Wing","target":"jashoo","weight":1},"-458760493":{"source":"ShaquaR","target":"|\\_-`","weight":1},"-891465911":{"source":"heller","target":"Thudney","weight":3},"-1151333713":{"source":"Hedge","target":"heller","weight":3},"-1218809088":{"source":"Depe","target":"heller","weight":11},"-2599857603":{"source":"Latexi95","target":"heller","weight":3},"-506508858":{"source":"ShaquaR","target":"Hedge","weight":1},"-1797046165":{"source":"heller","target":"ShaquaR","weight":2},"-1337024271":{"source":"dalgor","target":"Depe","weight":1},"-2560086203":{"source":"heller","target":"dalgor","weight":2},"-1009681094":{"source":"Thudney","target":"dalgor","weight":4},"-1228521746":{"source":"triks","target":"dalgor","weight":1},"-1110306563":{"source":"heller","target":"triks","weight":1},"-2085895526":{"source":"trzoda","target":"heller","weight":1},"-1441070671":{"source":"ShaquaR","target":"trzoda","weight":10},"-572550749":{"source":"tier","target":"ShaquaR","weight":2},"-463899616":{"source":"viltz","target":"ShaquaR","weight":4},"-572664114":{"source":"poft","target":"ShaquaR","weight":2},"-1217762842":{"source":"giga","target":"heller","weight":1},"-572937987":{"source":"ShaquaR","target":"giga","weight":2},"-2546088385":{"source":"Latexi95","target":"jashoo","weight":1},"-1125167156":{"source":"donut","target":"heller","weight":16},"-480342301":{"source":"donut","target":"ShaquaR","weight":13},"-1808573480":{"source":"Pilkki","target":"donut","weight":1},"-3283263927":{"source":"Latexi95","target":"Pilkki","weight":1},"-1217855922":{"source":"heller","target":"dem0","weight":1},"-1899292792":{"source":"druiDi","target":"ShaquaR","weight":1},"-1320485902":{"source":"Wing","target":"druiDi","weight":1},"-573984233":{"source":"ShaquaR","target":"Depe","weight":3},"-1380093452":{"source":"tuhoojabotti","target":"Depe","weight":4}}}

## List [/list/{name}.json]
A single Graph as an adjacency list.

+ Parameters
    + name (required, string, `minecraft`) ... The `name` of the Graph to perform action with.

### Get a graph as a list [GET]
+ Response 200 (application/json; charset=utf-8)

    + Header

            X-Powered-By: Express

    + Body
    
            {"mir-tab":["ShaquaR","Wing","dem0","triks","viltz","Thudney","[D]emon","jashoo","tuhoojabotti","Pilkki"],"jashoo":["[D]emon","mir-tab","viltz","ShaquaR","triks","tuhoojabotti","Depe","Thudney","Hedge","dalgor","Wing","Latexi95"],"viltz":["triks","Thudney","mir-tab","[D]emon","jashoo","tuhoojabotti","ShaquaR"],"ShaquaR":["quaezar","minecraftpol","mir-tab","[D]emon","Atomim","jashoo","triks","tuhoojabotti","dem0","Pilkki","Thudney","|\\_-`","Hedge","heller","trzoda","tier","viltz","poft","giga","donut","druiDi","Depe"],"triks":["Wing","dem0","giga","coolman6Mine","viltz","Thudney","quaezar","mir-tab","[D]emon","Atomim","ShaquaR","jashoo","dalgor","heller"],"tuhoojabotti":["mir-tab","jashoo","[D]emon","ShaquaR","viltz","Thudney","Pilkki","Latexi95","Wing","Depe"],"[D]emon":["jashoo","ShaquaR","Wing","dem0","triks","viltz","Thudney","Rossi2303","mir-tab","tuhoojabotti","Latexi95"],"Thudney":["sk","Depe","Wing","dem0","Koopa","donut","coolman6Mine","triks","viltz","|\\_-`","Rossi2303","mir-tab","[D]emon","Atomim","tuhoojabotti","ShaquaR","jashoo","Shinkai","heller","dalgor"],"dem0":["Wing","donut","coolman6Mine","triks","Thudney","mir-tab","[D]emon","Atomim","ShaquaR","Pilkki","heller"],"Pilkki":["Atomim","mir-tab","tuhoojabotti","dem0","ShaquaR","Koopa","donut","Latexi95"],"Atomim":["Pilkki","ShaquaR","Depe","Wing","dem0","coolman6Mine","triks","Thudney","quaezar"],"Koopa":["Thudney","Pilkki"],"Wing":["dem0","triks","Thudney","mir-tab","[D]emon","Atomim","tuhoojabotti","Latexi95","jashoo","druiDi"],"sk":["Thudney"],"donut":["dem0","Thudney","Latexi95","heller","ShaquaR","Pilkki"],"coolman6Mine":["dem0","triks","Thudney","Atomim"],"Depe":["Thudney","Atomim","jashoo","heller","dalgor","ShaquaR","tuhoojabotti"],"Shinkai":["Thudney","Latexi95"],"Latexi95":["Shinkai","tuhoojabotti","Wing","[D]emon","esalaka","donut","heller","jashoo","Pilkki"],"esalaka":["Latexi95"],"Rossi2303":["Thudney","[D]emon"],"Hedge":["jashoo","dalgor","heller","ShaquaR"],"dalgor":["Hedge","jashoo","Depe","heller","Thudney","triks"],"quaezar":["ShaquaR","triks","Atomim"],"|\\_-`":["Thudney","ShaquaR"],"heller":["Thudney","Hedge","Depe","Latexi95","ShaquaR","dalgor","triks","trzoda","giga","donut","dem0"],"trzoda":["minecraftpol","heller","ShaquaR"],"minecraftpol":["trzoda","ShaquaR","tier"],"tier":["minecraftpol","ShaquaR"],"poft":["ShaquaR"],"giga":["triks","heller","ShaquaR"],"druiDi":["ShaquaR","Wing"]}

## Matrix [/matrix/{name}.json]
A single Graph as a matrix.

+ Parameters
    + name (required, string, `minecraft`) ... The `name` of the Graph to perform action with.

### Get a graph as a matrix [GET]
+ Response 200 (application/json; charset=utf-8)

    + Header

            X-Powered-By: Express

    + Body
    
            [[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0],[0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0],[0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0],[0,0,0,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0],[0,0,0,4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0],[0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0],[0,1,0,0,0,1,1,0,0,2,3,0,0,3,0,11,0,16,0,0,0,0,0,1,3,0,0,1,2,0,0,0],[0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0],[0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,7,4,0,0,0],[0,0,0,0,0,0,2,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,4,0,0,1,0,0,1,0],[0,0,0,0,0,0,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0],[0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,3,0,0,0,0,0,2,1,1,0,0,6,0,3,0,0,1,0,0,2,1,0,0,0,1,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0],[0,0,0,0,0,0,11,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,3,0,4,0,3,0,1,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,9,0,4,1,0,0,2,0,0,0,0],[0,0,0,0,0,0,16,0,0,0,0,0,0,6,0,0,0,1,0,0,0,0,1,3,13,0,0,0,13,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0],[1,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,0,1,0,2,5,1,14,1,0,0,1,7],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,9,0,0,1,0,1,2,3,9,0,0,5,3,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,2,1,1,0,0,1,0,1,0,0,8],[0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,4,3,0,2,0,3,1,1,13,5,0,6,15,0,0,3],[0,0,0,0,0,0,3,1,0,4,0,1,0,0,1,3,1,13,2,5,1,9,0,13,1,158,4,1,57,6,1,17],[0,0,0,0,0,0,0,0,0,0,0,1,0,2,0,0,0,0,0,1,0,0,0,5,158,1,16,4,2,5,13,49],[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,4,0,0,0,14,0,0,1,0,4,16,1,0,3,7,9,105],[0,1,0,0,0,0,1,0,7,1,0,0,0,0,0,0,2,0,0,1,0,5,0,6,1,4,0,1,14,2,3,14],[1,2,2,2,7,10,2,1,4,0,1,0,0,0,0,3,0,13,0,0,0,3,1,15,57,2,3,14,1,4,2,9],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,5,7,2,4,1,3,3],[0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,13,9,3,2,3,1,11],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,8,3,17,49,105,14,9,3,11,1]]
    
## BFS [/bfs/{name}/{user}.json]
Generate a BFS-tree of the graph.

+ Parameters
    + name (required, string, `minecraft`) ... The `name` of the Graph to perform action with.
    + user (required, string, `tuhoojabotti`) ... The `user` where to start the search.

### Get a BFS tree of the graph [GET]
+ Response 200 (application/json; charset=utf-8)

    + Header

            X-Powered-By: Express

    + Body
    
            {"tuhoojabotti":null,"Depe":"tuhoojabotti","Wing":"tuhoojabotti","Latexi95":"tuhoojabotti","Pilkki":"tuhoojabotti","Thudney":"tuhoojabotti","viltz":"tuhoojabotti","ShaquaR":"tuhoojabotti","[D]emon":"tuhoojabotti","jashoo":"tuhoojabotti","mir-tab":"tuhoojabotti","dalgor":"Depe","heller":"Depe","Atomim":"Depe","druiDi":"Wing","triks":"Wing","dem0":"Wing","donut":"Latexi95","esalaka":"Latexi95","Shinkai":"Latexi95","Koopa":"Pilkki","Rossi2303":"Thudney","|\\_-`":"Thudney","coolman6Mine":"Thudney","sk":"Thudney","giga":"ShaquaR","poft":"ShaquaR","tier":"ShaquaR","trzoda":"ShaquaR","Hedge":"ShaquaR","minecraftpol":"ShaquaR","quaezar":"ShaquaR"}
    
## Clusters [/clusters/{name}/{inflation}.json]
Generate clusters for the graph with the Markov Cluster Algorithm.

+ Parameters
    + name (required, string, `minecraft`) ... The `name` of the Graph to perform action with.
    + inflation (required, integer, `5`) ... The `inflation` controls the granularity of the clusters.

### Get clusters from the graph [GET]
+ Response 200 (application/json; charset=utf-8)

    + Header

            X-Powered-By: Express

    + Body
    
            {"nodes":{"mir-tab":{"label":"mir-tab","weight":225,"group":24},"jashoo":{"label":"jashoo","weight":46,"group":24},"viltz":{"label":"viltz","weight":29,"group":24},"ShaquaR":{"label":"ShaquaR","weight":157,"group":25},"triks":{"label":"triks","weight":61,"group":24},"tuhoojabotti":{"label":"tuhoojabotti","weight":163,"group":24},"[D]emon":{"label":"[D]emon","weight":255,"group":6},"Thudney":{"label":"Thudney","weight":300,"group":24},"dem0":{"label":"dem0","weight":55,"group":24},"Pilkki":{"label":"Pilkki","weight":15,"group":25},"Atomim":{"label":"Atomim","weight":33,"group":25},"Koopa":{"label":"Koopa","weight":1,"group":24},"Wing":{"label":"Wing","weight":35,"group":24},"sk":{"label":"sk","weight":1,"group":24},"donut":{"label":"donut","weight":51,"group":25},"coolman6Mine":{"label":"coolman6Mine","weight":15,"group":25},"Depe":{"label":"Depe","weight":23,"group":24},"Shinkai":{"label":"Shinkai","weight":1,"group":25},"Latexi95":{"label":"Latexi95","weight":19,"group":25},"esalaka":{"label":"esalaka","weight":1,"group":31},"Rossi2303":{"label":"Rossi2303","weight":1,"group":31},"Hedge":{"label":"Hedge","weight":5,"group":25},"dalgor":{"label":"dalgor","weight":9,"group":26},"quaezar":{"label":"quaezar","weight":11,"group":24},"|\\_-`":{"label":"|\\_-`","weight":1,"group":30},"heller":{"label":"heller","weight":43,"group":28},"trzoda":{"label":"trzoda","weight":11,"group":26},"minecraftpol":{"label":"minecraftpol","weight":11,"group":24},"tier":{"label":"tier","weight":5,"group":25},"poft":{"label":"poft","weight":1,"group":31},"giga":{"label":"giga","weight":3,"group":24},"druiDi":{"label":"druiDi","weight":1,"group":31}},"edges":{"5775823":{"source":"Wing","target":"dem0","weight":2},"23428976":{"source":"minecraftpol","target":"trzoda","weight":1},"27076967":{"source":"jashoo","target":"[D]emon","weight":13},"67096331":{"source":"Atomim","target":"Pilkki","weight":2},"74911652":{"source":"quaezar","target":"ShaquaR","weight":4},"98847942":{"source":"donut","target":"dem0","weight":3},"112297084":{"source":"dem0","target":"coolman6Mine","weight":4},"113325182":{"source":"Wing","target":"triks","weight":1},"113708535":{"source":"dem0","target":"triks","weight":6},"113801615":{"source":"triks","target":"giga","weight":1},"219846443":{"source":"triks","target":"coolman6Mine","weight":2},"222839986":{"source":"viltz","target":"triks","weight":2},"312278337":{"source":"ShaquaR","target":"minecraftpol","weight":7},"329473271":{"source":"sk","target":"Thudney","weight":2},"331596021":{"source":"Depe","target":"Thudney","weight":3},"332165834":{"source":"Wing","target":"Thudney","weight":5},"332549187":{"source":"dem0","target":"Thudney","weight":13},"402150715":{"source":"Thudney","target":"Koopa","weight":1},"425237953":{"source":"donut","target":"Thudney","weight":13},"438687095":{"source":"coolman6Mine","target":"Thudney","weight":1},"440098546":{"source":"Thudney","target":"triks","weight":1},"441680638":{"source":"viltz","target":"Thudney","weight":6},"446819761":{"source":"|\\_-`","target":"Thudney","weight":1},"490340191":{"source":"mir-tab","target":"ShaquaR","weight":9},"618132604":{"source":"[D]emon","target":"ShaquaR","weight":2},"700080943":{"source":"Rossi2303","target":"Thudney","weight":1},"761651254":{"source":"quaezar","target":"triks","weight":7},"891948898":{"source":"minecraftpol","target":"tier","weight":4},"1069147081":{"source":"Wing","target":"mir-tab","weight":7},"1069530434":{"source":"dem0","target":"mir-tab","weight":3},"1177079793":{"source":"triks","target":"mir-tab","weight":14},"1178661885":{"source":"viltz","target":"mir-tab","weight":3},"1196939494":{"source":"[D]emon","target":"Wing","weight":1},"1197322847":{"source":"[D]emon","target":"dem0","weight":5},"1304872206":{"source":"triks","target":"[D]emon","weight":4},"1306454298":{"source":"[D]emon","target":"viltz","weight":5},"1395327510":{"source":"ShaquaR","target":"Atomim","weight":3},"1395920445":{"source":"mir-tab","target":"Thudney","weight":17},"1523712858":{"source":"Thudney","target":"[D]emon","weight":158},"1564854603":{"source":"[D]emon","target":"Rossi2303","weight":1},"1973564587":{"source":"Depe","target":"Atomim","weight":1},"1974134400":{"source":"Atomim","target":"Wing","weight":1},"1974517753":{"source":"Atomim","target":"dem0","weight":3},"2080655661":{"source":"Atomim","target":"coolman6Mine","weight":9},"2082067112":{"source":"Atomim","target":"triks","weight":5},"2260694105":{"source":"[D]emon","target":"mir-tab","weight":49},"2300907764":{"source":"Thudney","target":"Atomim","weight":9},"2622460472":{"source":"Atomim","target":"quaezar","weight":1},"-100715446":{"source":"mir-tab","target":"jashoo","weight":11},"-1054955253":{"source":"jashoo","target":"viltz","weight":3},"-1743276947":{"source":"ShaquaR","target":"jashoo","weight":2},"-465481708":{"source":"ShaquaR","target":"triks","weight":14},"-1056537345":{"source":"jashoo","target":"triks","weight":3},"-315769028":{"source":"tuhoojabotti","target":"mir-tab","weight":105},"-2549386166":{"source":"jashoo","target":"tuhoojabotti","weight":9},"-187976615":{"source":"[D]emon","target":"tuhoojabotti","weight":16},"-1958330529":{"source":"tuhoojabotti","target":"ShaquaR","weight":3},"-573031067":{"source":"ShaquaR","target":"dem0","weight":15},"-1270008835":{"source":"viltz","target":"tuhoojabotti","weight":7},"-837890988":{"source":"Pilkki","target":"mir-tab","weight":8},"-1052750275":{"source":"Thudney","target":"tuhoojabotti","weight":4},"-3286561708":{"source":"Pilkki","target":"tuhoojabotti","weight":1},"-1901262246":{"source":"dem0","target":"Pilkki","weight":1},"-2480452489":{"source":"ShaquaR","target":"Pilkki","weight":1},"-1831660718":{"source":"Koopa","target":"Pilkki","weight":1},"-246641056":{"source":"ShaquaR","target":"Thudney","weight":57},"-1165039870":{"source":"jashoo","target":"Depe","weight":1},"-837696693":{"source":"Thudney","target":"jashoo","weight":1},"-239351848":{"source":"Shinkai","target":"Thudney","weight":1},"-1947743540":{"source":"Latexi95","target":"Shinkai","weight":1},"-2761141967":{"source":"tuhoojabotti","target":"Latexi95","weight":1},"-1379523639":{"source":"Wing","target":"tuhoojabotti","weight":14},"-1376225858":{"source":"Latexi95","target":"Wing","weight":3},"-184678834":{"source":"[D]emon","target":"Latexi95","weight":2},"-2845082863":{"source":"esalaka","target":"Latexi95","weight":2},"-1283153739":{"source":"donut","target":"Latexi95","weight":6},"-1097564495":{"source":"Hedge","target":"jashoo","weight":1},"-1269548896":{"source":"dalgor","target":"Hedge","weight":1},"-2506316985":{"source":"jashoo","target":"dalgor","weight":1},"-1164470057":{"source":"Wing","target":"jashoo","weight":1},"-458760493":{"source":"ShaquaR","target":"|\\_-`","weight":1},"-891465911":{"source":"heller","target":"Thudney","weight":3},"-1151333713":{"source":"Hedge","target":"heller","weight":3},"-1218809088":{"source":"Depe","target":"heller","weight":11},"-2599857603":{"source":"Latexi95","target":"heller","weight":3},"-506508858":{"source":"ShaquaR","target":"Hedge","weight":1},"-1797046165":{"source":"heller","target":"ShaquaR","weight":2},"-1337024271":{"source":"dalgor","target":"Depe","weight":1},"-2560086203":{"source":"heller","target":"dalgor","weight":2},"-1009681094":{"source":"Thudney","target":"dalgor","weight":4},"-1228521746":{"source":"triks","target":"dalgor","weight":1},"-1110306563":{"source":"heller","target":"triks","weight":1},"-2085895526":{"source":"trzoda","target":"heller","weight":1},"-1441070671":{"source":"ShaquaR","target":"trzoda","weight":10},"-572550749":{"source":"tier","target":"ShaquaR","weight":2},"-463899616":{"source":"viltz","target":"ShaquaR","weight":4},"-572664114":{"source":"poft","target":"ShaquaR","weight":2},"-1217762842":{"source":"giga","target":"heller","weight":1},"-572937987":{"source":"ShaquaR","target":"giga","weight":2},"-2546088385":{"source":"Latexi95","target":"jashoo","weight":1},"-1125167156":{"source":"donut","target":"heller","weight":16},"-480342301":{"source":"donut","target":"ShaquaR","weight":13},"-1808573480":{"source":"Pilkki","target":"donut","weight":1},"-3283263927":{"source":"Latexi95","target":"Pilkki","weight":1},"-1217855922":{"source":"heller","target":"dem0","weight":1},"-1899292792":{"source":"druiDi","target":"ShaquaR","weight":1},"-1320485902":{"source":"Wing","target":"druiDi","weight":1},"-573984233":{"source":"ShaquaR","target":"Depe","weight":3},"-1380093452":{"source":"tuhoojabotti","target":"Depe","weight":4}}}





